<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/real_estate_agency</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <mapping class="hibernate.mapping.Address"/>
        <mapping class="hibernate.mapping.Contact"/>
        <mapping class="hibernate.mapping.Photo"/>
        <mapping class="hibernate.mapping.Realty"/>
        <mapping class="hibernate.mapping.Type"/>
    </session-factory>
</hibernate-configuration>